/* @media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: column;
  }
} */

/* .card {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  background-color: white;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
} */


